<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
<head th:replace="shop/layout.html :: head(${title})">
    <title></title>
</head>

<body class="body-wrapper">


<header th:replace="shop/layout.html :: header"></header>

<section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="border">
                    <h3 class="bg-gray p-4">Login Now</h3>
                    <form action="#">
                        <fieldset class="p-4">
                            <input class="form-control mb-3" type="text" placeholder="Username" required>
                            <input class="form-control mb-3" type="password" placeholder="Password" required>
                            <div class="loggedin-forgot">
                                <input type="checkbox" id="keep-me-logged-in">
                                <label for="keep-me-logged-in" class="pt-3 pb-2">Keep me logged in</label>
                            </div>
                            <button style="margin-left: auto; margin-right: auto" type="submit" class="btn btn-primary font-weight-bold mt-3 form-control">Log in</button>
                            <div class="row" style="margin-top: 5%">
                                <div class="col-6">
                                    <a style="width: 60em" class="text-primary" href="#!">Forget Password?</a>
                                </div>
                                <div class="col-6">
                                    <a style="width: 60em" class="text-primary" href="register.html">Register Now</a>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!--============================
=            Footer            =
=============================-->

<div th:replace="shop/layout.html :: js"></div>


</body>

</html>