<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="admin/layout.html :: head(${title})">
    <title></title>
</head>

<body>

<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div class="nav-header" th:replace="admin/layout.html :: nav-header"></div>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div class="header" th:replace="admin/layout.html :: header"></div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div class="nk-sidebar" th:replace="admin/layout.html :: nk-sidebar"></div>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h4>Table Basic</h4>
                    </div>
                    <a href="/vehicle/creat" data-toggle="tooltip" data-placement="top" title="Create" class="create">
                        <i class="fa fa-plus"></i>
                    </a>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Car</th>
                                <th>Status</th>
                                <th>Type of Car</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="vehicles : ${vehicles}">
                                <th><img width="80px" height="auto" th:src="${vehicles.imageList.get(1).getImagePath()}"
                                         alt="image description"></th>
                                <td><h4 style="text-align: left" th:text="${vehicles.vehicleName}"></h4>
                                </td>
                                <td>
                                    <span th:if="${vehicles.status==1}"
                                          class="badge badge-danger px-2">Đang Hoạt Động</span>
                                    <span th:if="${vehicles.status==0}"
                                          class="badge badge-success px-2">Chưa Hoạt Động</span>
                                    <span th:if="${vehicles.status==2}"
                                          class="badge badge-info px-3">Đang Bảo Trì</span>
                                </td>
                                <td><span th:text="${vehicles.vehicleType.getTypeName()}"
                                          class="categories"></span></td>
                                <td class="color-primary" th:text=" '$ '+ ${vehicles.rentalPrice}"></td>
                                <td>
                                    <div class="">
                                        <ul class="list-inline justify-content-center">
                                            <li class="list-inline-item">
                                                <a data-toggle="tooltip" data-placement="top" title="Edit" class="edit"
                                                   th:edit-id="${vehicles.id}">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a data-toggle="tooltip" data-placement="top" title="Delete"
                                                   class="delete" th:data-id="${vehicles.id}">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>
    <!--**********************************
        Content body end
    ***********************************-->


    <!--**********************************
        Footer start
    ***********************************-->
    <div class="footer">
        <div class="copyright">
            <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018
            </p>
        </div>
    </div>
    <!--**********************************
        Footer end
    ***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<div th:replace="admin/layout.html :: js"></div>
<!---------------------------------------------------------------------------------------------->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('.table').DataTable();
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>
<script>
    // Lắng nghe sự kiện click trên các liên kết có class "edit"
    document.querySelectorAll('.edit').forEach(function (element) {
        element.addEventListener('click', function () {
            const vehicleId = this.getAttribute("edit-id");
            Swal.fire({
                title: 'Cập Nhập',
                html: `
                <div class="d-flex justify-content-between">
                    <button class="btn btn-primary" id="option4">Cập Nhật Trạng Thái</button>
                    <button class="btn btn-secondary" id="option5">Cập Nhật Tiền</button>
                </div>
            `,
                showCancelButton: false,
                showConfirmButton: false
            });

            // Lấy tham chiếu đến các nút trong cửa sổ modal
            const option4Button = document.getElementById('option4');
            const option5Button = document.getElementById('option5');

            option5Button.addEventListener('click', () => {
                Swal.fire({
                    title: 'Nhập số tiền mới',
                    html: `
                   <input id="newAmount" type="number" style="padding: 10px; border: 1px solid #ccc; border-radius: 5px; font-size: 16px;">

                `,
                    showCancelButton: true,
                    showConfirmButton: true,
                    preConfirm: () => {
                        const newAmount = document.getElementById('newAmount').value;
                        // Thực hiện hành động với giá trị mới (newAmount)
                        Swal.fire('Thông báo', 'Số tiền đã được cập nhật', 'success');
                        setTimeout(() => {
                            window.location.href = `/vehicle/editMoney?id=${vehicleId}&money=${newAmount}`;
                        }, 1000)
                    }
                });
            });

            option4Button.addEventListener('click', () => {
                Swal.fire({
                    title: 'Trạng Thái',
                    html: `
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-primary" id="option1">Chưa Hoạt Động</button>
                        <button class="btn btn-secondary" id="option2">Đang Hoạt Động</button>
                        <button class="btn btn-info" id="option3">Đang Bảo Trì</button>
                    </div>
                `,
                    showCancelButton: true,
                    showConfirmButton: false
                });

                // Lấy tham chiếu đến các nút trong cửa sổ modal trạng thái
                const option1Button = document.getElementById('option1');
                const option2Button = document.getElementById('option2');
                const option3Button = document.getElementById('option3');

                option1Button.addEventListener('click', () => {
                    // Thực hiện hành động khi nút "Chưa Hoạt Động" được nhấp vào
                    Swal.fire('Thông báo', 'Chưa Hoạt Động được chọn', 'success');
                    setTimeout(() => {
                        window.location.href = `/vehicle/edit?id=${vehicleId}`;
                    }, 1000)
                });

                option2Button.addEventListener('click', () => {
                    // Thực hiện hành động khi nút "Đang Hoạt Động" được nhấp vào
                    Swal.fire('Thông báo', 'Đang Hoạt Động được chọn', 'success');
                    setTimeout(() => {
                        window.location.href = `/vehicle/editt?id=${vehicleId}`;
                    }, 1000)
                });

                option3Button.addEventListener('click', () => {
                    // Thực hiện hành động khi nút "Đang Bảo Trì" được nhấp vào
                    Swal.fire('Thông báo', 'Đang Bảo Trì được chọn', 'success');
                    setTimeout(() => {
                        window.location.href = `/vehicle/edittt?id=${vehicleId}`;

                    }, 1000)
                });
            });
        });
    });
</script>
<script>
    document.querySelectorAll(".delete").forEach(function (deleteLink) {
        deleteLink.addEventListener("click", function (event) {
            console.log("hello")
            event.preventDefault();
            const vehicleId = this.getAttribute("data-id");
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            });

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'No, cancel!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    // Thực hiện hành động xóa ở đây
                    swalWithBootstrapButtons.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    );
                    setTimeout(() => {
                        window.location.href = `/vehicle/delete?id=${vehicleId}`;

                    }, 1000)
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Your imaginary file is safe :)',
                        'error'
                    )
                }
            });
        });
    });
</script>
<!---------------------------------------------------------------------------------------------->
</body>

</html>