<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/layout :: head">
    <title>DetailProduct</title>
</head>
<body>
<h3>View Products</h3>
<p>
    <a th:href="@{/customers}">
        Back to product list
    </a>
</p>

<div id="detail">
    <div class="cus-detail">
        <label>Name:</label>
        <label th:text="${product.name}"></label>
    </div>
    <div class="cus-detail">
        <label>Quantity:</label>
        <label th:text="${product.email}"></label>
    </div>
    <div class="cus-detail">
        <label>Price:</label>
        <label th:text="${product.address}"></label>
    </div>
</div>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>