<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="shop/layout.html :: head(${title})">
    <title></title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<style>
    .btn-primary:disabled {
        color: #000000;
        background-color: #444444;
        border-color: #000000;
    }

    .product-slider {
        padding-bottom: 7%;
    }

    .product-slider .slick-dots {
        display: flex;
        bottom: 0;
    }

    .arrow-right, .arrow-left {
        cursor: pointer;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: #040D12;
        text-align: center;
        color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        z-index: 2;
    }
    .form-control::-ms-expand {
        background-color: transparent;
        border: 0;
    }

    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #ecebfe;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(117, 113, 249, 0.25);
    }

    .form-control::placeholder {
        color: #f7fafc;
        opacity: 1;
    }

    .form-control:disabled, .form-control[readonly] {
        background-color: #e9ecef;
        opacity: 1;
    }

    select.form-control:focus::-ms-value {
        color: #495057;
        background-color: #fff;
    }

    .form-control-file,
    .form-control-range {
        display: block;
        width: 100%;
    }
</style>
<body class="body-wrapper">
<header th:replace="shop/layout.html :: header"></header>

<section class="section bg-gray">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <!-- Left sidebar -->
            <div class="col-lg-8">
                <h1 class="product-title" th:text="'Renting ' + ${car.vehicleName}"></h1>
                <div class="product-meta">
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-folder-open-o"></i> Type Car <a
                                href="category.html" th:text="${car.vehicleType.typeName}"></a></li>
                    </ul>
                </div>
                <div class="position-relative m-4">
                    <div class="progress" role="progressbar" aria-label="Progress" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="height: 1px;">
                        <div class="progress-bar" style="width: 0; background-color: black"></div>
                    </div>
                    <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem; color: white; background-color: black; border-color: black">1</button>
                    <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem; color: black; background-color: white; border-color: black">2</button>
                    <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem; color: black; background-color: white; border-color: black">3</button>
                </div>
                <div style="margin-top: 5%">
                    <form th:action="@{/bookings/booking/__${car.id}__}" method="post" th:object="${bookingDto}">
                        <input type="hidden" th:field="*{id}">
                        <div class="mb-3">
                            <label for="carName" class="form-label">Car's Name</label>
                            <input type="text" class="form-control" id="carName" th:value="${car.vehicleName}"
                                   disabled>
                            <input type="hidden" th:field="*{vehicle}">
                            <input type="hidden" th:value="${car.rentalPrice}" id="price">
                        </div>
                        <div class="mb-3">
                            <label for="customerName" class="form-label">Your Name</label>
                            <input type="text" class="form-control" id="customerName" th:value="${bookingDto.customer.name}"
                                   disabled>
                            <input type="hidden" th:field="*{customer}">
                        </div>
                        <div class="mb-3">
                            <label for="ReceiveDate" class="form-label">Receive Date</label>
                            <input type="date" class="form-control" id="ReceiveDate"
                                   aria-describedby="ReceiveDateHelp"
                                   th:field="*{receiveDate}">
                            <div id="ReceiveDateHelp" style="color: red" th:if="${#fields.hasErrors('receiveDate')}" th:errors="*{receiveDate}" class="form-text">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="ReturnDate" class="form-label">Return Date</label>
                            <input type="date" class="form-control" id="ReturnDate"
                                   aria-describedby="ReturnDateHelp"
                                   th:field="*{returnDate}">
                            <div id="ReturnDateHelp" class="form-text" style="color: red" th:if="${#fields.hasErrors('returnDate')}" th:errors="*{returnDate}">
                            </div>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">
                                Bạn đồng ý với #Thehome
                            </label>
                            <a data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Các điều khoản và chính sách
                            </a>
                        </div>
                        <!-- Button trigger modal -->
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Terms of service</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="color: red;">
                                        DO NOT FUCKING RACE !!!
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" id="submitButton"
                                style="color: black; background-color: white; border-color: black" disabled>
                            Submit
                        </button>
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                const showButtonCheckbox = document.getElementById('exampleCheck1');
                                const submitButton = document.getElementById('submitButton');

                                showButtonCheckbox.addEventListener('change', function () {
                                    submitButton.disabled = !showButtonCheckbox.checked;
                                });
                            });
                        </script>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="surcharge">
                    <h3 style="color: green">Chi Phí Dự Tính</h3>
                    <div style="border-radius: 5px;border: 1px solid black" class="surcharge-container ">
                        <div style="margin-left: 20px; margin-top: 15px">
                            <div class="surcharge-item">
                                <div class="content">
                                    <div class="content-item">
                                        <p style="display: inline-block;width: 70%">Tổng Số Ngày</p>
                                        <p style="display: inline-block" class="cost" id="result">1</p>
                                    </div>
                                    <div class="content-item">
                                        <p style="display: inline-block;width: 70%">Chi Phí Dự Tính</p>
                                        <p style="display: inline-block" class="cost" id="cost"
                                           th:text="${car.rentalPrice}"></p>
                                    </div>
                                </div>
                            </div>
                            <script>
                                document.addEventListener('DOMContentLoaded', function () {
                                    const startDateInput = document.getElementById('ReceiveDate');
                                    const endDateInput = document.getElementById('ReturnDate');
                                    const resultElement = document.getElementById('result');
                                    const resultCost = document.getElementById('cost');
                                    const price = document.getElementById('price').value;

                                    startDateInput.addEventListener('input', calculateDays);
                                    endDateInput.addEventListener('input', calculateDays);

                                    function calculateDays() {
                                        const startDate = new Date(startDateInput.value);
                                        const endDate = new Date(endDateInput.value);

                                        const timeDiff = Math.abs(endDate - startDate);
                                        const daysDiff = Math.ceil(timeDiff / (1000 * 60 * 60 * 24));

                                        resultElement.textContent = daysDiff;
                                        resultCost.textContent = daysDiff * price;
                                    }
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="sidebar">
                    <div class="product-details">
                        <!-- product slider -->
                        <div class="product-slider">
                            <th:block th:each="image : ${car.imageList}">
                                <div class="product-slider-item my-4" th:data-image="${image.imagePath}">
                                    <img class="img-fluid w-100" th:src="${image.imagePath}" alt="product-img" src="">
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <div class="surcharge">
                        <h3 style="color: green">Phụ phí có thể phát sinh</h3>
                        <div style="border-radius: 5px;border: 1px solid black" class="surcharge-container ">
                            <div style="margin-left: 20px; margin-top: 15px">
                                <div class="surcharge-item">
                                    <div class="content">
                                        <div class="content-item">
                                            <p style="display: inline-block;width: 70%">Phí vượt giới hạn</p>
                                            <p style="display: inline-block" class="cost">5 000đ/km</p></div>
                                        <div class="content-item"><p>Phụ phí phát sinh nếu lộ trình di chuyển vượt quá
                                            <span>1050km</span> khi thuê xe<span> 3 ngày</span></p></div>
                                    </div>
                                </div>
                                <div class="surcharge-item">
                                    <div class="content">
                                        <div class="content-item">
                                            <p class="title" style="display: inline-block;width: 70%">Phí quá giờ</p>
                                            <p class="cost" style="display: inline-block">100 000đ/h</p></div>
                                        <div class="content-item"><p>Phụ phí phát sinh nếu hoàn trả xe trễ giờ. Trường
                                            hợp
                                            trễ quá<span> 5 tiếng</span>, phụ phí thêm <span>1 ngày </span>thuê</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="surcharge-item">
                                    <div class="content">
                                        <div class="content-item"><p style="display: inline-block;width: 70%"
                                                                     class="title">Phí vệ sinh</p>
                                            <p class="cost" style="display: inline-block">120 000đ</p></div>
                                        <div class="content-item"><p>Phụ phí phát sinh khi xe hoàn trả không đảm bảo vệ
                                            sinh
                                            (nhiều vết bẩn, bùn cát, sình lầy...)</p></div>
                                    </div>
                                </div>
                                <div class="surcharge-item">
                                    <div class="content">
                                        <div class="content-item"><p style="display: inline-block;width: 70%"
                                                                     class="title">Phí khử mùi</p>
                                            <p style="display: inline-block" class="cost">400 000đ</p></div>
                                        <div class="content-item"><p>Phụ phí phát sinh khi xe hoàn trả bị ám mùi khó
                                            chịu
                                            (mùi thuốc lá, thực phẩm nặng mùi...)</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- Container End -->
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<footer th:replace="shop/layout.html :: footer"></footer>
<div th:replace="shop/layout.html :: js"></div>


</body>

</html>



