<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<head th:replace="admin/layout.html :: head(${title})">
    <title></title>
</head>

<body>

<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div class="nav-header" th:replace="admin/layout.html :: nav-header"></div>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div class="header" th:replace="admin/layout.html :: header"></div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div class="nk-sidebar" th:replace="admin/layout.html :: nk-sidebar"></div>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Contract List</h4>
                            <form action="/admins/booking">
                                <div class="input-group mb-3" style="width: 30%">
                                    <input type="text" class="form-control" placeholder="search"
                                           aria-label="" name="search" th:value="${search}">
                                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search
                                    </button>
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered zero-configuration">
                                    <thead>
                                    <tr>
                                        <th>
                                            Creation Date
                                            <span style="float: right;">
                                                <a th:href="@{/admins/booking(sortProperty='contract_creation_date', condition='asc', search=${search})}">
                                                    <i class="fa fa-arrow-up"></i>
                                                </a>
                                                <a th:href="@{/admins/booking(sortProperty='contract_creation_date', condition='desc', search=${search})}">
                                                    <i class="fa fa-arrow-down"></i>
                                                </a>
                                            </span>
                                        </th>
                                        <th>
                                            Vehicle Name
                                            <span style="float: right;">
                                                <a th:href="@{/admins/booking(sortProperty='v.vehicle_name', condition='asc', search=${search})}">
                                                    <i class="fa fa-arrow-up"></i>
                                                </a>
                                                <a th:href="@{/admins/booking(sortProperty='v.vehicle_name', condition='desc', search=${search})}">
                                                    <i class="fa fa-arrow-down"></i>
                                                </a>
                                            </span>
                                        </th>
                                        <th>
                                            Customer Name
                                            <span style="float: right;">
                                                <a th:href="@{/admins/booking(sortProperty='cu.name', condition='asc', search=${search})}">
                                                    <i class="fa fa-arrow-up"></i>
                                                </a>
                                                <a th:href="@{/admins/booking(sortProperty='cu.name', condition='desc', search=${search})}">
                                                    <i class="fa fa-arrow-down"></i>
                                                </a>
                                            </span>
                                        </th>
                                        <th>
                                            Employee Name
                                            <span style="float: right;">
                                                <a th:href="@{/admins/booking(sortProperty='e.employee_name',condition='asc', search=${search})}">
                                                    <i class="fa fa-arrow-up"></i>
                                                </a>
                                                <a th:href="@{/admins/booking(sortProperty='e.employee_name', condition='desc', search=${search})}">
                                                    <i class="fa fa-arrow-down"></i>
                                                </a>
                                            </span>
                                        </th>
                                        <th>
                                            Status Confirm
                                            <span style="float: right;">
                                                <a th:href="@{/admins/booking(sortProperty='status_confirm', condition='asc', search=${search})}">
                                                    <i class="fa fa-arrow-up"></i>
                                                </a>
                                                <a th:href="@{/admins/booking(sortProperty='status_confirm', condition='desc', search=${search})}">
                                                    <i class="fa fa-arrow-down"></i>
                                                </a>
                                            </span>
                                        </th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="booking : ${bookings}">
                                        <tr>
                                            <td th:text="${booking.contractCreationDate}"></td>
                                            <td th:text="${booking.booking.vehicle.vehicleName}"></td>
                                            <td th:text="${booking.booking.customer.name}"></td>
                                            <td th:if="${booking.employee == null}" style="color: red;">Handling</td>
                                            <td th:if="${booking.employee != null}"
                                                th:text="${booking.employee.employeeName}"></td>
                                            <td th:if="${booking.status_confirm == 0}" class="label gradient-2 rounded">
                                                Handling
                                            </td>
                                            <td th:if="${booking.status_confirm == 1}" class="label gradient-4 rounded">
                                                Done
                                            </td>
                                            <td th:if="${booking.status_confirm == 2}" class="label gradient-5 rounded">
                                                Cancel
                                            </td>
                                            <td>
                                            <span>
                                                <a style="margin: 3%" href="#" class="label gradient-1 rounded"
                                                   data-toggle="tooltip" data-placement="top" data-bs-toggle="modal"
                                                   th:data-bs-target="'#exampleModal_' + ${booking.id}">
                                                    <i class="fa fa-pencil">
                                                    </i>
                                                </a>
                                                <a style="margin: 3%"
                                                   th:href="@{/admins/confirm/__${booking.id}__/2}"
                                                   class="label gradient-5 rounded"
                                                   type="btn" data-toggle="tooltip" data-placement="top">
                                                    <i class="fa fa-close"></i>
                                                </a>
                                            </span>
                                            </td>
                                        </tr>
                                        <!-- Modal -->
                                        <div class="modal fade" th:id="'exampleModal_' + ${booking.id}" tabindex="-1"
                                             th:aria-labelledby="'exampleModalLabel_' + ${booking.id}"
                                             aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5"
                                                            th:id="'exampleModalLabel_' + ${booking.id}">Modal
                                                            title</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <span>Customer Name</span>
                                                        <p th:text="${booking.booking.customer.name}"></p>
                                                        <span>Rental Fee</span>
                                                        <p th:text="${booking.rentalFee}"></p>
                                                        <span>Receive Address</span>
                                                        <p th:text="${booking.receiveAddress}"></p>
                                                        <span>Collateral Asset</span>
                                                        <p th:text="${booking.collateralAsset.assetName}"></p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger"
                                                                data-bs-dismiss="modal">Close
                                                        </button>
                                                        <a type="button" class="btn btn-primary"
                                                           th:href="@{/admins/confirm/__${booking.id}__/1}">Confirm</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                    </tbody>
                                </table>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <th:block th:if="${bookings.number == 0}">
                                            <li class="page-item disabled">
                                                <a class="page-link"
                                                   th:href="@{/admins/booking(page=${bookings.number - 1}, search=${search})}"
                                                   th:disabled="${bookings.number == 0}">Previous</a>
                                            </li>
                                        </th:block>
                                        <th:block th:unless="${bookings.number == 0}">
                                            <li class="page-item">
                                                <a class="page-link"
                                                   th:href="@{/admins/booking(page=${bookings.number - 1}, search=${search})}">Previous</a>
                                            </li>
                                        </th:block>

                                        <th:block th:each="index : ${#numbers.sequence(0, bookings.totalPages - 1)}">
                                            <th:block th:if="${index.equals(bookings.number)}">
                                                <li class="page-item active">
                                                    <a class="page-link"
                                                       th:href="@{/admins/booking(page=${index}, search=${search})}"
                                                       th:text="${index + 1}"></a>
                                                </li>
                                            </th:block>
                                            <th:block th:unless="${index.equals(bookings.number)}">
                                                <li class="page-item">
                                                    <a class="page-link"
                                                       th:href="@{/admins/booking(page=${index}, search=${search})}"
                                                       th:text="${index + 1}"></a>
                                                </li>
                                            </th:block>
                                        </th:block>

                                        <th:block th:if="${bookings.hasNext()}">
                                            <li class="page-item">
                                                <a class="page-link"
                                                   th:href="@{/admins/booking(page=${bookings.number + 1}, search=${search})}">Next</a>
                                            </li>
                                        </th:block>
                                        <th:block th:unless="${bookings.hasNext()}">
                                            <li class="page-item disabled">
                                                <a class="page-link"
                                                   th:href="@{/admins/booking(page=${bookings.number + 1}, search=${search})}">Next</a>
                                            </li>
                                        </th:block>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>
    <!--**********************************
        Content body end
    ***********************************-->


    <!--**********************************
        Footer start
    ***********************************-->
    <div class="footer" th:replace="admin/layout.html :: footer"></div>
    <!--**********************************
        Footer end
    ***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->

<div th:replace="admin/layout.html :: js"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</body>

</html>