<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <title>Index</title>
</head>
<body>
<p>
    <a type="button" class="btn" th:href="@{/blog/create}">
        Add new blog
    </a>
</p>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Author</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        <th scope="col">View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${blogs}">
        <th scope="row" th:text="${rowStat.index + 1}"></th>
        <td th:text="${row.getTitle()}"></td>
        <td th:text="${row.getContent()}"></td>
        <td th:text="${row.getAuthor()}"></td>
        <td><a th:href="@{/blog/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/blog/{id}/delete(id=${row.getId()})}">delete</a></td>
        <td><a th:href="@{/blog/{id}/view(id=${row.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>