<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

<div style="width: 30%; margin-left: auto; margin-right: auto; margin-top: 5em">
    <h1>Form</h1>
    <form action="/users/validateUser" method="post" th:object="${user}">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   th:field="*{email}">
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" id="emailHelp" class="form-text">Name
                Error
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Full Name</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="First Name" aria-label="FirstName"
                       aria-describedby="FirstName" th:field="*{firstName}">
                <input type="text" class="form-control" placeholder="Last Name" aria-label="LastName"
                       aria-describedby="LastName" th:field="*{lastName}">
            </div>
            <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" id="FirstName" class="form-text"></div>
            <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" id="LastName" class="form-text"></div>
        </div>

        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="number" class="form-control" id="age" aria-describedby="ageHelp" th:field="*{age}">
            <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}" id="ageHelp" class="form-text"></div>
        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="number" class="form-control" id="phone" aria-describedby="phoneHelp" th:field="*{phone}">
            <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" id="phoneHelp" class="form-text"></div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>